<form action="/todos/new" method="POST" class="d-inline">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Somthing to do?" name="name">
    <button class="btn btn-info">create</button>
  </div>
</form>